* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #242333;
}

.popup{
    background-color: #333;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
}

.dropdown-btn{
    display: flex;
    margin-top: 1rem;
}

h3{
    font-weight: normal;
    margin-top: 5px;
}

.movie-name select{
    height: 37px;
    width: 300px;
    margin-right: 5px;
}

#continue{
    background-color: rgba(24, 255, 55, 1);
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    float: right;
    height: 37px;
}

#continue:hover{
    background-color: rgba(24, 255, 55, 0.6);
    transition: all 0.3s ease 0s;
}